<nav class="navbar">
  <h1 class="navbar__title">COOLTURE</h1>
  <span class="navbar__actions">
    <app-btn variant="secondary" size="sm" (btnClick)="changeLanguage()">
      {{ currentLang() === 'pl' ? 'EN' : 'PL' }}
    </app-btn>
    @if (authService.isAuthenticated()) {
      <app-btn variant="secondary" size="sm" (btnClick)="logout()">{{
        'NAVBAR.logout' | translate
      }}</app-btn>
    } @else {
      <app-btn variant="primary" size="sm" (btnClick)="login()">{{
        'NAVBAR.login' | translate
      }}</app-btn>
    }
  </span>
</nav>
