<nav class="navbar">
  <h1 class="navbar__title">COOLTURE</h1>
  <span class="navbar__actions">
    <button class="navbar__lang" (click)="changeLanguage()">
      {{ currentLang() === 'pl' ? 'EN' : 'PL' }}
    </button>
    @if (authService.isAuthenticated()) {
      <button class="navbar__btn" (click)="logout()">{{ 'NAVBAR.logout' | translate }}</button>
    } @else {
      <button class="navbar__btn navbar__btn--primary" (click)="login()">
        {{ 'NAVBAR.login' | translate }}
      </button>
    }
  </span>
</nav>
