<!-- TODO ADD TRANSLATION -->
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Tytuł:</label>
    <input id="title" type="text" formControlName="title" />

    <div class="error" *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">
      Tytuł jest wymagany, musi mieć od 3 do 200 znaków i zawierać tylko litery, cyfry, spacje lub
      podkreślenia.
    </div>
  </div>

  <div class="form-group">
    <label for="categoryId">Kategoria (UUID):</label>
    <input id="categoryId" type="text" formControlName="categoryId" />
    <div
      class="error"
      *ngIf="postForm.get('categoryId')?.invalid && postForm.get('categoryId')?.touched"
    >
      Kategoria jest wymagana.
    </div>
  </div>

  <div class="form-group">
    <label for="type">Typ wydarzenia:</label>
    <select id="type" formControlName="type">
      <option value="ONLINE">ONLINE</option>
      <option value="OFFLINE">OFFLINE</option>
    </select>
  </div>

  <div class="form-group">
    <label for="startsAt">Data i godzina rozpoczęcia:</label>
    <input id="startsAt" type="datetime-local" formControlName="startsAt" />
    <div
      class="error"
      *ngIf="postForm.get('startsAt')?.invalid && postForm.get('startsAt')?.touched"
    >
      Data wydarzenia jest wymagana.
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="locationUuid">Lokalizacja (UUID):</label>
    <input id="locationUuid" type="text" formControlName="locationUuid" />

    <div
      class="error"
      *ngIf="postForm.get('locationUuid')?.invalid && postForm.get('locationUuid')?.touched"
    >
      UUID lokalizacji jest wymagane.
    </div>
  </div> -->

  <div class="form-group">
    <label for="description">Opis:</label>
    <textarea id="description" formControlName="description" rows="5"></textarea>

    <div
      class="error"
      *ngIf="postForm.get('description')?.invalid && postForm.get('description')?.touched"
    >
      Opis jest wymagany i nie może przekraczać 2000 znaków.
    </div>
  </div>

  <div class="form-group">
    <label for="mediaFiles">Zdjęcia:</label>
    <input
      id="mediaFiles"
      type="file"
      multiple
      accept="image/*"
      (change)="onFilesSelected($event)"
    />
    <div class="selected-files" *ngIf="selectedFiles.length > 0">
      <p>Wybrane pliki:</p>
      <ul>
        <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
      </ul>
    </div>
  </div>

  <button type="submit" [disabled]="postForm.invalid">Zapisz Post</button>
</form>
