<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Tytuł:</label>
    <input id="title" type="text" formControlName="title" />

    <div class="error" *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">
      Tytuł jest wymagany, musi mieć od 3 do 200 znaków i zawierać tylko litery, cyfry, spacje lub
      podkreślenia.
    </div>
  </div>

  <div class="form-group">
    <label for="authorUuid">Autor (UUID):</label>
    <input id="authorUuid" type="text" formControlName="authorUuid" />

    <div
      class="error"
      *ngIf="postForm.get('authorUuid')?.invalid && postForm.get('authorUuid')?.touched"
    >
      UUID autora jest wymagane.
    </div>
  </div>

  <div class="form-group">
    <label for="dateOfEvent">Data wydarzenia:</label>
    <input id="dateOfEvent" type="datetime-local" formControlName="dateOfEvent" />

    <div
      class="error"
      *ngIf="postForm.get('dateOfEvent')?.invalid && postForm.get('dateOfEvent')?.touched"
    >
      Data wydarzenia jest wymagana.
    </div>
  </div>

  <div class="form-group">
    <label for="locationUuid">Lokalizacja (UUID):</label>
    <input id="locationUuid" type="text" formControlName="locationUuid" />

    <div
      class="error"
      *ngIf="postForm.get('locationUuid')?.invalid && postForm.get('locationUuid')?.touched"
    >
      UUID lokalizacji jest wymagane.
    </div>
  </div>

  <div class="form-group">
    <label for="description">Opis:</label>
    <textarea id="description" formControlName="description" rows="5"></textarea>

    <div
      class="error"
      *ngIf="postForm.get('description')?.invalid && postForm.get('description')?.touched"
    >
      Opis jest wymagany i nie może przekraczać 2000 znaków.
    </div>
  </div>

  <button type="submit" [disabled]="postForm.invalid">Zapisz Post</button>
</form>
