<div class="comment">
  <div class="comment__main">
    @if (comment.status !== 'DELETED') {
      @if (comment.author.avatar; as avatar) {
        <img [src]="avatar.url" [alt]="comment.author.username" class="comment__avatar" />
      } @else {
        <div class="comment__avatar comment__avatar--placeholder">
          {{ comment.author.firstName.charAt(0) }}{{ comment.author.lastName.charAt(0) }}
        </div>
      }
    }
    <div class="comment__content">
      <div class="row">
        <div class="comment__username">
          @if (comment.status === 'DELETED') {
            {{ 'COMMENT.deleted-comment' | translate }}
          } @else {
            {{ comment.author.username }}
          }
        </div>
        @if (comment.status !== 'DELETED') {
          @if (comment.depth < 2) {
            <app-btn variant="plain" size="sm" (btnClick)="onReply()">
              {{ 'COMMENT.reply' | translate }}
            </app-btn>
          }
        }
        @if (comment.repliesCount > 0) {
          <app-btn variant="plain" size="sm" (btnClick)="showReplies()">
            {{
              isShowingReplies()
                ? ('COMMENT.hide-replies' | translate)
                : ('COMMENT.show-replies' | translate) + ' (' + comment.repliesCount + ')'
            }}
          </app-btn>
        }
        @if (comment.status !== 'DELETED' && isMyComment) {
          <app-btn variant="plain" size="sm" (btnClick)="startEditingComment()">
            {{ 'COMMENT.edit-comment' | translate }}
          </app-btn>
          <app-btn variant="plain" size="sm" (btnClick)="openModal()">
            {{ 'COMMENT.delete-comment' | translate }}
          </app-btn>
          <app-modal-window
            #myModal
            modalType="YESNO"
            [title]="'COMMENT.modal-delete-title' | translate"
            [text]="'COMMENT.modal-delete-body' | translate"
            (modalAction)="handleModalResponse($event)"
          >
          </app-modal-window>
        }
      </div>
      <div class="comment__text">
        @if (comment.status !== 'DELETED') {
          @if (isEditing) {
            <textarea
              #editInput
              class="body-edit"
              [value]="comment.content"
              (blur)="saveEdit(editInput.value)"
              (keydown.enter)="saveEdit(editInput.value)"
            >
            </textarea>
          } @else {
            <span class="body">
              {{ comment.content }}
            </span>
          }
        }
      </div>
    </div>
  </div>

  @if (isShowingReplies()) {
    <div class="comment__replies">
      @for (reply of replies(); track reply.id) {
        <app-comment-component
          [comment]="reply"
          (replyClicked)="replyClicked.emit($event)"
          (commentDeleted)="onCommentDeleted($event)"
        />
      }
    </div>
  }
</div>
