<nav class="footer">
  <div
    class="footer__item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    {{ 'FOOTER.main-page' | translate }}
  </div>
  <div class="footer__item" routerLink="/discover" routerLinkActive="active">
    {{ 'FOOTER.friends' | translate }}
  </div>
  <div class="footer__item" routerLink="/calendar" routerLinkActive="active">
    {{ 'FOOTER.map-callendar' | translate }}
  </div>
  <div class="footer__item" routerLink="/profile" routerLinkActive="active">
    {{ 'FOOTER.my-profile' | translate }}
  </div>
</nav>
