<div class="post">
  @if (data) {
    <div class="post__header">
      <div class="left">
        <button
          class="post__report"
          (click)="viewPostPage(false)"
          (keydown.enter)="viewPostPage(false)"
          role="button"
          tabindex="0"
        >
          !
        </button>
      </div>
      @if (isMyPost()) {
        <div class="right">
          <button class="editPost button-plain" (click)="editPost()">
            {{ 'POST.edit' | translate }}
          </button>
          <button class="deletePost button-plain" (click)="openModal()">
            {{ 'POST.delete' | translate }}
          </button>
        </div>
        <app-modal-window
          #myModal
          modalType="YESNO"
          [title]="'POST.modal-delete-title' | translate"
          [text]="'POST.modal-delete-body' | translate"
          (modalAction)="handleModalResponse($event)"
        >
        </app-modal-window>
      }
    </div>
    <h3
      class="post__title"
      (click)="goToFullPost()"
      (keydown.enter)="goToFullPost()"
      role="link"
      tabindex="0"
    >
      {{ data.title }}
    </h3>
    <div class="post__meta">
      <div
        class="post__author-wrapper"
        (click)="goToUserProfile()"
        (keydown.enter)="goToUserProfile()"
        role="link"
        tabindex="0"
      >
        @if (data.author.avatar; as avatar) {
          <img [src]="avatar.url" [alt]="data.author.username" class="post__avatar" />
        } @else {
          <div class="post__avatar post__avatar--placeholder">
            {{ data.author.firstName.charAt(0) }}{{ data.author.lastName.charAt(0) }}
          </div>
        }
        <div class="post__author">
          <span class="post__username">
            {{ data.author.username }}
          </span>
          <span class="post__date">{{ data.createdAt | date: 'short' }}</span>
          @if (data.startsAt) {
            <span class="post__date">Starts: {{ data.startsAt | date: 'short' }}</span>
          }
        </div>
      </div>
    </div>
    <div class="post__desc">
      @if (this.isFullView) {
        {{ data.description }}
      } @else {
        @if (!isExpanded()) {
          {{ data.description.slice(0, maxLengthOfShortDesc) + '...' }}
          <span
            class="post__desc-action"
            (click)="toggleExpanded()"
            (keydown.enter)="toggleExpanded()"
            role="button"
            tabindex="1"
          >
            {{ 'POST.show-more' | translate }}
          </span>
        } @else {
          {{ data.description }}
          <span
            class="post__desc-action"
            (click)="toggleExpanded()"
            (keydown.enter)="toggleExpanded()"
            role="button"
            tabindex="2"
          >
            {{ 'POST.show-less' | translate }}
          </span>
        }
      }
    </div>
    @if (photos.length > 0) {
      <div class="post__photos" [class]="'count-' + (photos.length > 3 ? 'more' : photos.length)">
        @for (photo of photos.slice(0, 3); track $index) {
          <div class="post__photo-item">
            <img [src]="photo" [alt]="'POST.photo-alt' | translate" />

            @if ($index === 2 && photos.length > 3) {
              <button
                class="post__overlay"
                (click)="viewPostPage(true)"
                (keydown.enter)="viewPostPage(true)"
              >
                <span>{{ 'POST.show-all-photos' | translate }} (+{{ photos.length - 3 }})</span>
              </button>
            }
          </div>
        }
      </div>
    }
    <div class="post__social">
      <div class="post__social-left">
        <div
          class="post__social-btn"
          [class.liked]="isLiked()"
          (click)="likePost()"
          (keydown.enter)="likePost()"
          role="button"
          tabindex="3"
        >
          <ng-icon name="heroHandThumbUp" />
          <span class="post__social-count">{{
            formatNumber(
              data.positiveReactionCount,
              'POST.thousand' | translate,
              'POST.million' | translate
            )
          }}</span>
        </div>
        <div
          class="post__social-btn"
          (click)="viewPostPage(true)"
          (keydown.enter)="viewPostPage(true)"
          role="button"
          tabindex="4"
        >
          <ng-icon name="heroChatBubbleLeftEllipsis" />
          <span class="post__social-count">{{
            formatNumber(
              counter !== undefined ? counter : data.commentsCount || 0,
              'POST.thousand' | translate,
              'POST.million' | translate
            )
          }}</span>
        </div>
        <div class="post__social-btn">
          <ng-icon name="heroShare" />
        </div>
      </div>
      <div class="post__social-right">
        <div
          class="post__social-btn"
          [class.interested]="isInterested()"
          (click)="setInterested()"
          (keydown.enter)="setInterested()"
          role="button"
          tabindex="5"
          [title]="'POST.interested' | translate"
        >
          <ng-icon name="heroStar" />
        </div>
        <div
          class="post__social-btn"
          [class.takes-part]="isTakesPart()"
          (click)="setTakesPart()"
          (keydown.enter)="setTakesPart()"
          role="button"
          tabindex="6"
          [title]="'POST.takes_part' | translate"
        >
          <ng-icon name="heroStarSolid" />
        </div>
      </div>
    </div>
  } @else {
    <div class="post__loading">{{ 'POST.loading' | translate }}</div>
  }
</div>
