<dialog #modalDialog class="wrapper">
  <div class="modal-content">
    <h3 class="title">{{ title() }}</h3>
    <p class="body">{{ text() }}</p>
    <div class="optionWrapper" [class.center]="modalType() === 'OK'">
      @if (modalType() === 'OK') {
        <app-btn variant="success" (btnClick)="close('OK')">{{ 'MODAL.ok' | translate }}</app-btn>
      } @else if (modalType() === 'YESNO') {
        <app-btn variant="success" (btnClick)="close('YES')">{{ 'MODAL.yes' | translate }}</app-btn>
        <app-btn variant="danger" (btnClick)="close('NO')">{{ 'MODAL.no' | translate }}</app-btn>
      }
    </div>
  </div>
</dialog>
